*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    font-family: "Lato", sans-serif ; 
    font: 16px;
    margin: 16px 0px 0px;
    font-weight: 1px;
}

.body{
    background-color: #3766ff;
}

.main-article{
    background-color: #3766ff;
    color: #ffffff;
    align-items: center;
    display: flex
}

.main-article img{
    max-width: 100%;
    margin: auto;
    display: block;
    height: auto;
}

.main-noticia h1,h2{
    color: black;
}

.h5-noticia{
    max-width: 100%;
    margin: auto;
    display: block;
    height: auto;
}

.noticia{
    padding-left: 8%;
    font-size: 100%;
}


.article-noticia{
    height: 5000%;
}

.article-noticia h5{
    max-width: 100%;
    margin: auto;
    display: block;
    height: auto;
    left: 300%;
}

.data-noticia{
    display: flex;
    position: relative;
}

.data-noticia button{
    height: 10%;
    width: 10%;
    background-color: rgb(91, 197, 64);
}

.data-noticia button{
    border-radius: 15%;
    height: 20%;
    margin-right: 1%;
}

.vertical-line{
    border-left: 1px solid rgb(201, 201, 201);
    height: 270vh;
    padding-left: 1%;
    margin-left: 1%;
    padding-right: 10%;
}

.area-recomendacao{
    position: relative;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
}

.recomendados hr{
    padding-right: 160%
}